.categoriesPageWrapper {
  padding: 0px 16px;
}
.categoriesPageHeading {
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
  color: #001833;
  margin-top: 50px;
}
.categoriesList {
  display: flex;
  gap: 28px;
  overflow-x: auto;
  position: relative;
}
.categoryTitle {
  color: var(--main-black);
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}
.categoryTitleActive {
  color: var(--main-green);
  font-size: 16px;
  line-height: 20px;
}
.recipesList {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .categoriesPageHeading {
    margin-top: 72px;
  }
  .categoriesList {
    margin-top: 60px;
    gap: 55px;
  }
  .categoryTitle {
    font-size: 18px;
    line-height: 18px;
  }
  .recipesList {
    margin-top: 50px;
    gap: 16px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .recipeListItem {
    flex-basis: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .categoriesPageWrapper {
    padding: 0px 99px;
  }
  .categoriesPageHeading {
    margin-top: 100px;
  }
  .categoriesList {
    margin-top: 100px;
  }
  .recipeListItem {
    flex-basis: calc((100% - 64px) / 4);
  }
}
