.recipeBox {
  position: relative;
  width: 343px;
  height: 323px;
}
.recipeImage {
  width: 100%;
  display: block;
}
.recipeTitle {
  padding-left: 16px;
  padding-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #3e4462;
  background-color: #fff;
  border-radius: 8px;
  width: 291px;
  height: 36px;
  position: absolute;
  bottom: -25px;
  left: 18px;
}
@media screen and (min-width: 768px) {
  .recipeCategorie {
    font-size: 44px;
    line-height: 44px;
  }
  .recipeBox {
    flex-basis: calc((100% - 32px) / 2);
  }
  .recipeTitle {
    width: 85%;
    bottom: -10px;
  }
}
@media screen and (min-width: 1280px) {
  .recipeBox {
    flex-basis: calc((100% - 32px) / 4);
  }
}
