.searchPageWrapper {
  padding: 50px 16px 100px 16px;
}
.searchPageHeading {
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
}
.recipesList {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 28px;
}
.pagination {
  margin-top: 20px;
  border-radius: 8px;
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0px #87878733;
  display: flex;
  height: 30px;
  padding: 0px 15px;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
}
.paginationPage {
  cursor: pointer;
}
.previousButton,
.nextButton {
  cursor: pointer;
  font-size: 25px;
}
.activePage {
  color: var(--main-white);
  border-radius: 50%;
  padding: 4px 10px;
  background-color: var(--main-green);
}
.searchPageWarningBox {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchPageWarningImage {
  width: 208px;
  height: 133px;
}
.searchPageWarningText {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .searchPageWrapper {
    padding: 50px 32px 100px 32px;
  }
  .searchPageHeading {
    font-size: 32px;
    line-height: 32px;
  }
  .recipesList {
    display: flex;
    gap: 16px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .recipeListItem {
    flex-basis: calc((100% - 32px) / 2);
  }
  .searchPageWarningImage {
    width: 350px;
    height: 225px;
  }
  .searchPageWarningText {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1280px) {
  .searchPageWrapper {
    padding: 50px 100px 100px 100px;
  }
  .searchPageHeading {
    font-size: 44px;
    line-height: 44px;
  }
  .recipeListItem {
    flex-basis: calc((100% - 64px) / 4);
  }
}
