.mainRecipesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -63px;
}
.mainPageRecipesList {
  padding: 0px 16px;
}
@media screen and (min-width: 768px) {
  .mainPageRecipesListItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}
