.recipesList {
  display: flex;
  flex-wrap: wrap;
}
.recipeCategorie {
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: #001833;
  margin-bottom: 32px;
}
.seeAllButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-green);
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 18px;
  color: var(--main-white);
  margin-top: 24px;
  margin-bottom: 32px;
  margin-left: auto;
  text-align: center;
  width: 94px;
  height: 38px;
}
.seeAllButton:hover,
.seeAllButton:focus {
  color: var(--secondary-black);
}
@media screen and (min-width: 768px) {
  .recipesList {
    gap: 16px;
  }
  .recipesListItem {
    flex-basis: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .recipesListItem {
    flex-basis: calc((100% - 64px) / 4);
  }
}
