.userInfo {
  display: flex;
  gap: 14px;
  align-items: center;
  cursor: pointer;
}
.userLogo {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.userName {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 20.4px;
}
