.navList {
  margin: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: center;
}
.navListLink {
  color: var(--main-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .navList {
    margin: 0;
  }
}
